<section class="container py-5">
    <div class="row">
        <div class="col-4">
            <div class="card border-white custom-shadow px-4" style="width: 18rem;">
                <img src="https://placehold.it/450x450" class="card-img-top rounded-circle " alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-white custom-shadow px-4" style="width: 18rem;">
                <img src="https://placehold.it/450x450" class="card-img-top rounded-circle " alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-white custom-shadow px-4" style="width: 18rem;">
                <img src="https://placehold.it/450x450" class="card-img-top rounded-circle " alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .custom-shadow{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
    }
</style>
