<footer class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <p>We made with ❤️ codifika</p>
            <p>2024</p>
        </div>
    </div>
</footer>