<section class="container">
    <div class="row vh-50 align-items-center">
        <div class="col-12">
            <hgroup class="text-center text-secondary">
                <h1 class="display-3">Lorem Ipsum</h1>
                <h3>Lorem Ipsum</h3>
                <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eveniet culpa neque, distinctio accusamus saepe quo optio facilis quae, necessitatibus harum aut, molestiae quibusdam suscipit ab repellat totam numquam quam.</h6>
            </hgroup>
        </div>
    </div>
</section>