<section class="container-fluid">
    <div class="row vh-50">
        <div class="col-8">

        </div>
        <div class="col-4 bg-jumbotronD">

        </div>
    </div>
</section>
<style is:global>
    .vh-50{
        height: 50vh;
    }
    .bg-jumbotronD{
        background-image: url("https://placehold.it/600x600");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>