<section class="container-fluid">
    <div class="d-flex flex-row-reverse vh-50">
        <div class="col-8">

        </div>
        <div class="col-4 bg-jumbotronR">

        </div>
    </div>
</section>
<style>
    .bg-jumbotronR{
        background-image: url('https://placehold.it/600x600');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>